.slider {
    display: flex;
    /* overflow: hidden; */
    position: relative;
    width: 100%; /* Adjust the width as needed */
    height: calc(100vh - 130px); /* Adjust the height as needed */
  }
  
  .card {
    
    flex: 0 0 100%;
    height: 100%;
    transition: transform 1s ease-in-out, order 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
  }
  
  .active {
    transform: scale(1.2);
    order: 1;
    z-index: 1;
    opacity: 1;
  }

  .null{
    order: 2;
    z-index: -1;
    opacity: .9;
    transform: scale(1);
  }
  